body {
    font-family: 'Roboto', sans-serif;
}

body p {
    color: gray;
}

.central-area {
    text-align: center;
}

.central-area h1 {
    font-size: 60px;
    padding-top: 10%;
}

.central-area p {
    margin-bottom: 6%;
    color: white;
}

.sec-1 {
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    color: white;
}

.button {
    background-image: linear-gradient(rgb(255, 0, 64), rgb(252, 56, 89));
    text-decoration: none;
    width: 40%;
    height: 50%;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.sec-2 {
    text-align: center;
}

.sec-2 h1 {
    font-size: 40px;
    font-weight: 900;
    padding-top: 100px;
}

.donation-box {
    text-align: center;

}

.donation-box p {
    padding: 30px;
    font-size: 30px;
    font-weight: 800;
    display: inline-block;
    color: gray;
    box-shadow: 0px 0px 2px gray;
    margin-right: 20px;
    border-radius: 5px;

}

#baby-box {
    background-color: rgb(247, 193, 175);
    border: 2px solid rgb(255, 0, 64);
}

#color-cd {
    color: rgb(140, 147, 155);
    padding-bottom: 28px;
    width: 70%;
    margin-left: 15%;
}

.sided-box {
    display: flex;
    width: 90%;
    margin-left: 10%;
    text-align: left;
    margin-top: 3%;
}

.every-box {
    margin-right: 5%;
    padding: 5% 2%;
    border-radius: 3%;
}

#box-1 {
    background-color: rgb(233, 252, 203);
    width: 95%;
}

#box-2 {
    background-color: rgb(255, 236, 239);
    width: 95%;
}

.box-3 {
    background-color: rgb(191, 255, 239);
}

.box-3 img {
    width: 50px;
}

.sec-4 {
    display: flex;
    margin-top: 5%;
}

.half-width {
    width: 40%;
    text-align: left;
    padding-left: 8%;
}

.half-width img {
    width: 90%;
    height: 90%;
    margin-top: 18%;
}

#bottom-space {
    margin-bottom: 10%;
}

.sec-5 {
    margin-top: 6%;
}

.mail-part {
    display: flex;
    margin-left: 25%;
    margin-top: 4%;
    padding-top: 5%;

}

.mail-box {
    border-radius: 3%;
    box-shadow: 0px 0px 2px lightblue;
    padding-right: 10%;
    padding-left: 2%;
    color: gray;
    background-color: rgb(197, 228, 247);
}

.button-box {
    border-radius: 3%;
    box-shadow: 0px 0px 2px lightblue;
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgb(219, 66, 66);
    color: white;
}

#bg-color {
    background-color: bisque;
    height: 150px;
    width: 65%;
    margin-left: 20%;
}

#last-part {
    background-color: rgb(15, 14, 14);
    text-align: center;
    margin-top: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#heading {
    font-family: 'Kaushan Script', cursive;
    color: rgb(240, 35, 35);
}

.color-part {
    color: white;
}